body {
    font-family: "Noto Sans Thai", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1 h2 h3 h4 h5 h6 {
    font-family: "Noto Sans Thai", sans-serif !important;
}

.btn {
    font-family: "Noto Sans Thai", sans-serif !important;
}

.badge {
    font-family: "Noto Sans Thai", sans-serif !important;
}

#map {
    height: 600px;
}

.area-label {
    font-size: 11px;
    color: #ffe033;
}

.feature-popup {
    font-family: Arial, sans-serif;
    min-width: 250px;
}

.feature-popup h4 {
    margin: 0 0 10px 0;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.feature-popup p {
    margin: 5px 0;
    font-size: 14px;
}